body{
  background-color: black;
  color: white;
  margin: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
.main{
  display: flex;
  height: 100vh;
}
.sidebar{
background-color:rgb(0, 0, 0);
width: 340px;
border-radius: 1rem;
padding: 0.5rem;
}
.main_content {
  background-color : #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  padding: 0 1.5rem  0 1.5rem;
}
.music-player {
  
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 72px;
}
a{
  text-decoration: none;
   color: white;
}
.nav{
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 1rem ;
  
}
.nav-option{
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.7rem;
  
}
.nav-option:hover{
  opacity: 1;
}
.nav-option i{
  font-size: 1.25rem;
}
.nav-option a{
  font-size: 1rem ;
  margin-left: 1rem;
}
.opt{
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
}
.opt img{
  height: 1.2rem;
  width: 1.2rem;
}
.library{
  border-radius: 1rem;
  background-color: #121212 ;
  height: 100%;
 margin-top: 0.5rem;
  padding: 0.5rem 0.7rem;
  

}
.icon{
 padding: o.2rem;
}
.icon i{
  margin-right: 1rem;
  opacity: 0.7;
}
.icon i:hover{
  opacity: 1;
}
.p2-box{
font-size: 0.76rem;
  opacity: 0.9;
  
}
.p1-box{
  font-size: 1rem;
  font-weight: 700;
}
.box{
  background-color: #232323;
  height: 8rem;
  border-radius: 0.75rem;
  margin: 0.8rem 0 0.75rem 0;
  padding: 1rem 1.25rem;
}
.badge{
  border-radius: 1rem;
  font-weight: 700;
  height: 2rem;
  padding: 0.5rem  1rem;
  border: none;
  margin-top: 0.75rem;
  width: fit-content;
}
.dark-badge{
  background-color: #000;
  color: #fff;
}
.nav-sticky img{
  height: 1.2rem;
  width: 1.2rem;
  
}
.nav-sticky{
  top: 0;
  background-color: #121212;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 10;
  padding: 1rem 0 1rem 0;
  
}
.sticky-icon img{
 margin-left: 1rem;
 font-weight: 600;
}
.sticky-option button{
  margin-right: 1rem;
}
.sticky-option i{
  margin-right: 0.5rem;
}
@media (max-width:1000px) {
  .hide{
    display: none;
  }
  
}
.card{
background-color: #111111;
width: 150px;
border-radius: 0.5rem;
padding: 1rem;
margin-left: 1rem;
margin-top: 1rem;



}
.card:hover{
background-color: #232323;
animation-delay: 1s;
}
.card-img{
width: 100%;
border-radius: 0.5rem;

}
.card-container{
display: flex;
flex-wrap: wrap;


}
.card-title{
  font-weight: 600;
}
.card-info{
  font-size: 0.85rem;
  opacity: 0.5;
}

.footer{
  height:250px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.line{
  height:20%;
  width:90%;
  border-top:  1px solid white;
  opacity : 0.2;

}
.music-player {
  display: flex;
  background-color: #000;

}

.album {
  width: 25%;
  padding-right: 10px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  

}
.album-img{
  height: 5rem;

}
.album-affan{
  font-size: smaller;
}
.player {
  width: 50%;
}
.controls {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  height: 1.5rem;
  margin-top: 20px;
  justify-items: flex-end;
  
}
.player-controls-icon{
  height: 1rem;
  margin-right: 1.75em;
  opacity: 0.7;

}
  .player-controls-icon:hover{
    opacity: 1;
  }
.player-controls{
  display: flex;
  justify-content: center;
  align-items: center;

}
.progress-bar{
  justify-content: center;
  align-items: center;
}
.playback-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar{
width: 70%;
appearance: none;
background-color: transparent;
cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
  background-color: #ddd;
  border-radius: 100px;
  height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color:#1bd760 ;
  border-radius: 50%;
  margin-top: -6px;
}

  .control-icon{
    height: 30px;
    margin-top:-6.5px;
    opacity:0.75;
    
  }
  .control-bar{
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    height: 19px;
  }
  .control-bar::-webkit-slider-runnable-track{
background-color: #fff;
border-radius: 100px;
height: 0.2rem;
  }
  .control-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
     margin-top: -6px;
     background-color: #1bd760;
     border-radius: 50%;
     }
     .controls{
      padding: 0px 10px;
      justify-content: space-evenly;
      
     }
#size{
height: 1rem;
opacity: 0.5;
margin-top: -2px;
}
#size:hover{
  opacity: 1;
}
h6{
  margin-top:1px;
}
.album-img-icon{
  height:70px;
}
.album-img{
  opacity: 0.75;
}
.album-img:hover {
  opacity: 1.25;
}
.control-icon:hover{
  opacity: 2;
}
